<li [ngClass]="{'list-group-item': true,
                'list-group-item-danger': post.loveIts < 0,
                'list-group-item-success': post.loveIts > 0}">
    <span class="float-right text-secondary font-italic">{{ post.created_at | date: 'short'}}
        <i class="fa fa-clock" aria-hidden="true"></i>
    </span>
    <h2 class="pull-left clearfix">{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <button class="btn btn-success" (click)="onAddLike()">I like :)</button>
    <button class="btn btn-danger" (click)="onDeleteLike()">I don't like !!!</button>
    {{ post.loveIts }}
</li>